.card {
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.306);
}

.preview {
  height: 200px;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  background-image: url(../assets/Cover.png);
  background-size: cover;
  background-position: center;
}

.content {
  padding: 1rem 1.2rem;
}

.content h3 {
  font-size: 1.6rem;
  font-family: var(--ff-body);
  margin-bottom: 5px;
}

.content small {
  color: var(--neon);
  font-size: 1rem;
}

.content p {
  margin-top: 10px;
}

.btn {
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  padding: 0.3rem 0.8rem;
  margin-top: 20px;
  cursor: pointer;
  transform: 0.5s;
}

.btn > a {
  color: var(--white);
  text-decoration: none;
}

.btn > a:hover {
  color: var(--neon);
  transform: 0.5s;
}

.btn:hover {
  box-shadow: 0 0 8px var(--neon);
  border-color: var(--neon);

  transform: scaleY(1.1);
}

@media (min-width: 768px) {
  .preview {
    height: 300px;
  }

  .content {
    padding: 2rem 1.2rem;
  }
}
