@import url("https://fonts.googleapis.com/css2?family=Molle&display=swap");

:root {
  --neon: rgba(34, 197, 94, 1);
  --bg-clr: #030d1f;
  --white: #FFFFFF;
  --grey: #8896AB;
  --ff-heading: 'DM Serif Display', serif;
  --ff-body: 'Manrope', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--bg-clr);
  color: var(--white);
  font-family: var(--ff-body)
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
}

ul {
  list-style-type: none;
}